@charset "ISO-8859-1";

.position-left{
	text-align: left;
}

.position-right{
	text-align: right;
}

.default-panel{
	height: 500px;
	background: #f5f6f8;
}

.background{
	background: #fcfcfc;
}

.width-100{
	width: 100%;
}

.width-20{
	width: 20%
}

.width-30{
	width: 30%;
}